<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole</title>
    <script src="https://kit.fontawesome.com/15eb0e88a4.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="">ABOUT</a></li>
                <li><a href="/music">MUSIC</a></li>
                <li><a href="/contact">CONTACT</a></li>
            </ul>
        </nav>
        <ul>
            <li><a href="https://twitter.com/i/flow/login"target="_blanck"><i class="fa-brands fa-x-twitter fa-sm"></i></a></li>
            <li><a href="https://www.facebook.com/"target="_blanck"><i class="fa-brands fa-square-facebook fa-sm"></i></a></li>
            <li><a href="https://open.spotify.com/intl-es"target="_blanck"><i class="fa-brands fa-spotify fa-sm"></i></a></li>
            <li><a href="https://www.apple.com/la/apple-music/"target="_blanck"><i class="fa-brands fa-apple fa-sm"></i></a></li>
            <li><a href="https://music.amazon.es/"target="_blanck"><i class="fa-brands fa-amazon fa-sm"></i></a></li>
            <li><a href="https://www.instagram.com"target="_blanck"><i class="fa-brands fa-instagram fa-sm"></i></a></li>
        </ul>
    </header>
   <article>
       <h1>ABOUT <br>EMILIA//</h1>
    <section>
        <h3>
            "Seattle-based pop star makes her <br>indie debut with a hauntingly beautiful album" 
        </h3>
        <h5>
            - John Tirckle, Music Today Post
        </h5>
        <h3>
            "Emilia Cole is one of the <br>scene's breakout stars"
        </h3>
        <h5>
            - John Tirckle, Music Today Post 
        </h5>
    </section>
   </article>
   <img src="img/emilia-about.jpg" alt="Imagen de Emilia Cole para el about">
</body>
</html>