<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole</title>
    <script src="https://kit.fontawesome.com/15eb0e88a4.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/music">MUSIC</a></li>
                <li><a href="/contact">CONTACT</a></li>
            </ul>
        </nav>
        <ul>
            <li><a href="https://twitter.com/i/flow/login"target="_blanck"><i class="fa-brands fa-x-twitter fa-sm"></i></a></li>
            <li><a href="https://www.facebook.com/"target="_blanck"><i class="fa-brands fa-square-facebook fa-sm"></i></a></li>
            <li><a href="https://open.spotify.com/intl-es"target="_blanck"><i class="fa-brands fa-spotify fa-sm"></i></a></li>
            <li><a href="https://www.apple.com/la/apple-music/"target="_blanck"><i class="fa-brands fa-apple fa-sm"></i></a></li>
            <li><a href="https://music.amazon.es/"target="_blanck"><i class="fa-brands fa-amazon fa-sm"></i></a></li>
            <li><a href="https://www.instagram.com"target="_blanck"><i class="fa-brands fa-instagram fa-sm"></i></a></li>
        </ul>
    </header>
    <section>
        <h3>EMILIA <br>COLE//</h3>
        <h1>TWIST IN MY REALITY</h1>
        <img src="img/emilia-home.jpg" alt="Imagen de portada"width="100%">
    </section>

</body>
</html>