<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole-music</title>
    <script src="https://kit.fontawesome.com/15eb0e88a4.js" crossorigin="anonymous"></script>
</head>
<body>
    <header id="top">
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="">ABOUT</a></li>
                <li><a href="">MUSIC</a></li>
                <li><a href="">CONTACT</a></li>
            </ul>
        </nav>
        <ul>
            <li><a href="https://twitter.com/i/flow/login"target="_blanck"><i class="fa-brands fa-x-twitter fa-sm"></i></a></li>
            <li><a href="https://www.facebook.com/"target="_blanck"><i class="fa-brands fa-square-facebook fa-sm"></i></a></li>
            <li><a href="https://open.spotify.com/intl-es"target="_blanck"><i class="fa-brands fa-spotify fa-sm"></i></a></li>
            <li><a href="https://www.apple.com/la/apple-music/"target="_blanck"><i class="fa-brands fa-apple fa-sm"></i></a></li>
            <li><a href="https://music.amazon.es/"target="_blanck"><i class="fa-brands fa-amazon fa-sm"></i></a></li>
            <li><a href="https://www.instagram.com"target="_blanck"><i class="fa-brands fa-instagram fa-sm"></i></a></li>
        </ul>
        <section>
            <img src="img/emilia-music-top.jpg" alt="Fondo del header">
        </section>
    </header>

    <section>
        <h1>
            MUSIC//
        </h1>
        <h3>
            Direct links
        </h3>
        <ul>
            <li><a href="#album">Album</a></li>
            <li><a href="#video1">Video: Organic Love</a></li>
            <li><a href="#video2">Video: Street Light</a></li>
        </ul>
    </section>

    <article>
        <section>
            <h2 id="album">
                ALBUM <br>TWIST IN MY REALITY
            </h2>
            <img src="/img/emilia-play-list.png" alt="Imagen del album">
            <ol>
                <li>Organic Love | 02:40</li>
                <li>Twist In My Reality | 02:10</li>
                <li>Street Light | 03:28</li>
                <li>Love Don’t Live Here Anymore (Cover) | 03:49</li>
            </ol>
        <a href="#top">Go top</a>
        </section>
    </article>
    <article>
        <section>
            <h2 id="video1">
                VIDEO <br>ORGANIC LOVE
            </h2>
            <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            <p>
               Directed by VINCE MALC & EMILIA COLE <br>Edited and Filmed by NICOLAS TROY <br>Produced by NIKI HEART, <br>Wix Films LTD
            </p>
            <a href="#top">Go top</a>
        </section>
    </article>
    <article>
        <section>
            <h2 id="video2">
                VIDEO <br>STREET LIGHT
            </h2>
            <iframe src="https://player.vimeo.com/video/134861419?h=24e3183108" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            <p>
               Directed by VINCE MALC & EMILIA COLE <br>Edited and Filmed by NICOLAS TROY <br>Produced by NIKI HEART, <br>Wix Films LTD
            </p>
            <a href="#top">Go top</a>
        </section>
    </article>
</body>
</html>